html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    /* display: block; */
}

aside{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* section{
    height: 10000px;
} */
.section.colored, a.download-src-link, .button {

    background-color: #FC5C7D;
    z-index: 3;
}
a, a:hover, a:active, .header .title .title2:before {
    color: black;
}

a, a:hover, a:active {
    text-decoration: none
}

@media (min-width: 1700px) { html { font-size: 188%; } }
@media (max-width: 1700px) { html { font-size: 188%; } }
@media (max-width: 1680px) { html { font-size: 186%; } }
@media (max-width: 1660px) { html { font-size: 184%; } }
@media (max-width: 1640px) { html { font-size: 182%; } }
@media (max-width: 1620px) { html { font-size: 180%; } }
@media (max-width: 1600px) { html { font-size: 178%; } }
@media (max-width: 1580px) { html { font-size: 176%; } }
@media (max-width: 1560px) { html { font-size: 174%; } }
@media (max-width: 1540px) { html { font-size: 172%; } }
@media (max-width: 1520px) { html { font-size: 170%; } }
@media (max-width: 1500px) { html { font-size: 168%; } }
@media (max-width: 1480px) { html { font-size: 166%; } }
@media (max-width: 1460px) { html { font-size: 164%; } }
@media (max-width: 1440px) { html { font-size: 162%; } }
@media (max-width: 1420px) { html { font-size: 160%; } }
@media (max-width: 1400px) { html { font-size: 158%; } }
@media (max-width: 1380px) { html { font-size: 156%; } }
@media (max-width: 1360px) { html { font-size: 154%; } }
@media (max-width: 1340px) { html { font-size: 152%; } }
@media (max-width: 1320px) { html { font-size: 150%; } }
@media (max-width: 1300px) { html { font-size: 148%; } }
@media (max-width: 1280px) { html { font-size: 146%; } }
@media (max-width: 1260px) { html { font-size: 144%; } }
@media (max-width: 1240px) { html { font-size: 142%; } }
@media (max-width: 1220px) { html { font-size: 140%; } }
@media (max-width: 1200px) { html { font-size: 138%; } }
@media (max-width: 1180px) { html { font-size: 136%; } }
@media (max-width: 1160px) { html { font-size: 134%; } }
@media (max-width: 1140px) { html { font-size: 132%; } }
@media (max-width: 1120px) { html { font-size: 130%; } }
@media (max-width: 1100px) { html { font-size: 128%; } }
@media (max-width: 1080px) { html { font-size: 126%; } }
@media (max-width: 1060px) { html { font-size: 124%; } }
@media (max-width: 1040px) { html { font-size: 122%; } }
@media (max-width: 1020px) { html { font-size: 120%; } }
@media (max-width: 1000px) { html { font-size: 118%; } }
@media (max-width: 980px) { html { font-size: 116%; } }
@media (max-width: 960px) { html { font-size: 114%; } }
@media (max-width: 940px) { html { font-size: 112%; } }
@media (max-width: 920px) { html { font-size: 110%; } }
@media (max-width: 900px) { html { font-size: 108%; } }
@media (max-width: 880px) { html { font-size: 106%; } }
@media (max-width: 860px) { html { font-size: 104%; } }
@media (max-width: 840px) { html { font-size: 102%; } }
@media (max-width: 820px) { html { font-size: 100%; } }
@media (max-width: 800px) { html { font-size: 98%; } }
@media (max-width: 780px) { html { font-size: 96%; } }
@media (max-width: 760px) { html { font-size: 94%; } }
@media (max-width: 740px) { html { font-size: 92%; } }
@media (max-width: 720px) { html { font-size: 90%; } }
@media (max-width: 700px) { html { font-size: 88%; } }
@media (max-width: 680px) { html { font-size: 86%; } }
@media (max-width: 660px) { html { font-size: 84%; } }
@media (max-width: 640px) { html { font-size: 82%; } }
@media (max-width: 620px) { html { font-size: 80%; } }
@media (max-width: 600px) { html { font-size: 78%; } }
@media (max-width: 580px) { html { font-size: 76%; } }
@media (max-width: 560px) { html { font-size: 74%; } }
@media (max-width: 540px) { html { font-size: 72%; } }
@media (max-width: 520px) { html { font-size: 70%; } }
@media (max-width: 500px) { html { font-size: 68%; } }
@media (max-width: 480px) { html { font-size: 66%; } }
@media (max-width: 460px) { html { font-size: 64%; } }
@media (max-width: 440px) { html { font-size: 62%; } }
@media (max-width: 420px) { html { font-size: 60%; } }
@media (max-width: 400px) { html { font-size: 58%; } }
@media (max-width: 380px) { html { font-size: 56%; } }
@media (max-width: 360px) { html { font-size: 54%; } }
@media (max-width: 340px) { html { font-size: 52%; } }
@media (max-width: 320px) { html { font-size: 50%; } }

.header {
    color: #000;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 40rem;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.header h1 {
    font-size: 15rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .05em;
}


.header .subtitle {
    position: absolute;
    margin: auto;
    top: 0rem;
    left: 0;
    right: 0;
    bottom: 1rem;
    padding-top: 9rem;
    height: 4rem;
    text-align: center;
}
.header .subtitle h3 {
    margin: 0;
    font-size: 1.2rem;
}
.header .title h1 {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3rem;
    height: 1.4em;
    text-align: center;
}
.header .title .title1 {
    color: #eee;
    color: rgba(0, 0, 0, .1);
}
.header .title span {
    display: block;
    position: absolute;
    top: 0;
}
.header .title .title2:before {
    position: absolute;
    top: 15%;
    bottom: 30%;
    left: 1%;
    right: 0%;
    content: "Colin Richards, Web Developer, Salt Lake City,";
    font-size: 1rem;
    line-height: 1.3em;
    padding: 1rem 15rem 1rem 1rem;
    background: linear-gradient(rgb(255, 255, 255), rgb(231, 231, 231));
    opacity: 0;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(-15px);
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    transition: all .7s;
    z-index: 8;
}
.header .title .title2:hover:before {
    opacity: 1;
    -webkit-transform: translateY(0px);
}
.header .title .char1 { left: 0%;}
.header .title .char2 { left: 24%;}
.header .title .char3 { left: 48%;}
.header .title .char4 { left: 67%;}
.header .title .char5 { left: 74%;}

.section {
    position: relative;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section.colored {
    color: #fff;
}

.section.colored .header .title .title2 {
    color: #fff;
}

.section.colored .header .subtitle {
    color: #fff;
}

.header .title .title2 span {
    width: 0px;
    -webkit-transition: width 3s linear;
    -moz-transition: width 3s linear;
    -ms-transition: width 3s linear;
    -o-transition: width 3s linear;
    transition: width 2s linear;
    overflow: hidden;
}


.page-loaded .header .title .title2 .char1 { width: 28.5%; }
.page-loaded .header .title .title2 .char2 { width: 30%; }
.page-loaded .header .title .title2 .char3 { width: 24%; }
.page-loaded .header .title .title2 .char4 { width: 14%; }
.page-loaded .header .title .title2 .char5 { width: 30.5%; }



.down-arrow {
    z-index: 99999;
    position: fixed;
    bottom: 30px;
    left: 49%;
    font-size: 2rem;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: 30px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, .7);
    cursor: pointer;
    outline: none;
}

.down-arrow:focus{
    border: none;
    outline: none;
}

/* 
h1 {
    color: white;
    font-family: 'Roboto';
    text-align: left;
}

h2 {
    font-family: 'Nunito';
    font-size: 32px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Montserrat';
    color: white;
}

h4 {
    font-family: 'Oswald';
    color: pink;
    ;
    font-size: 2em;
}

h6 {
    font-family: 'Roboto';
    color: rgb(100, 98, 99);
  
}
 */







/* GENERAL */

 h1{
    color: white;
    font-family: 'Roboto';
    text-align: left;
    font-size: 1.5em;
   }
   h2{
    font-family: 'Nunito';
    font-size: 32px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
   }
   h3{
    font-family: 'Montserrat';
    color: white;
    font-size: 1em;
   }
   h4{
    font-family: 'Oswald';
    color: #FC5C7D;
    font-size: 1.25em;
    padding: 10px;
   }
  h6{
   font-family: 'Roboto';
   color: rgb(100, 98, 99);
   font-size: .5em;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
  }
   .col-md-2{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    padding-bottom: 73px;
    padding-top: 20px;
   }
   .col-md-4{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
   }

/* NAVBAR */

.navbar-brand {
    margin-left: 6rem;
    font-family: 'Oswald', cursive;
    font-weight: 600;
    font-size: 27px;
    display: inline-block;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    color: white;   
  }

  nav {
      /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(255, 0, 120, 0.34); */
    /* border-bottom-width: 1.5px; */
    /* border: 5px solid transparent;
    border-bottom-style: solid; */
    background-image: linear-gradient(90deg, #cc68a6  0%, #6A82FB 100%);
    /* border-top: none;
    border-left: none;
    border-right: none;
    border-image-slice: 10%;
    border-bottom-color: linear-gradient(90deg, #bc4e9c 0%, #f80759 100%); */
    position: fixed;
    /* top: 0; */
    width: 100%;
    height: 100px;
    /* display: inline; */
    z-index: 2;
    top: 0;
    transition: top 0.3s;
    /* background: rgb(0,0,0); */
    
  }
  /* .sticky {
    position: fixed;
    bottom: 372px;
    width: 100%;
  } */

  /* #navbar a:hover {
    background-color: #ddd;
    color: black;
  } */
  #navbarNav{
    margin-left: 479px;
  }



  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    color: white;
    display: -webkit-box;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    padding: 10px;   
  }

  .navbar-nav{
      display: -webkit-box;
  }
  .nav-link {
    display: block;
    padding: .5rem 1rem;
    font-family: 'Roboto', cursive;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin: 1em 2em 1em 2em;
    
  }

  #home-border{
      margin-left: 27em;
  }

  .bg-light {
    background-color: #ffffffd9;
   }

/* IMAGE  */

#myimg {
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    width: 100%;
    height: auto;
  }

/* ABOUT ME  */

#aboutmetitle{
    font-family: 'Roboto';
    color: black;
    font-size: 1.5em;
   }

   .footerlinks{
    padding: 10px;
    color: pink;
    font-size: 50px;
   }

   #aboutme{
    font-family: 'Montserrat';
    font-size: 1em;
    padding: 50px 200px 50px 200px;
    margin: 0px 150px 60px 150px;
    color: rgba(0,0,0,.65);
    border: 4px solid;
    background-image: linear-gradient(90deg, #5cfcb95e, #5cfcb9 );
   }

/* SKILLS  */

/*******ICONS*******/
.fab{
    font-size: 75px;
    color: white;
    transition: .3s;
   }
   .fab:hover{
    -webkit-transform: scale(1.1);
   }
   .fa-html5:hover{
    color: #dd4b25;
   }
   .fa-css3-alt:hover{
    color: #254BDD;
   }
   .fa-js:hover{
    color: #E8D44D;
   }
   .fa-node-js:hover{
    color:#74b857;
   }
   .fa-github:hover{
    color: white;
   }
   .fa-git-square:hover{
    color: #dd4b25;
   }
   .fab h2:hover{
       color: #FC5C7D;
   }

   .fa-react:hover{
       color: #61dafb;
   }

   .adding {
    position: absolute;
   }

   #adding{
    border-top: solid;
    border-top-color: #6A82FB;
   }

   #services{
    background-color:black;
  }

/* PROJECTS   */

#projectstitle{
    font-family: 'Roboto';
    color: black;
    font-size: 1.5em;
   } 

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
   }
   
   .work:nth-child(even) {
    margin-right: 40px;
   }
   
   .work img {
    width: 274px;
     height: 274px;
     border: 0 none;
     opacity: 0.8;
   }
   
   .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #514aaa;
    border-bottom: 0;
   }
   
   .projecttiles{
    width: 100%;
    height: auto;
    /* margin: 2px; */
    padding: 0px 10px 10px 10px;
   }

 h5{
   font-size: 10rem;
    font-weight: 700;
    position: relative;
    right: 50px;
    top: 50px;
}

#tileone{
    background-color: #87ffef;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}

#tileone:hover{
    color: #87ffef;
    background-color: #87ffef;

} 


 #tiletwo{
    background-color: #8797ff;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
} 
/* 
h5{
    font-size: 15rem;
     font-weight: 700;
     position: relative;
     right: 50px;
     top: 50px;
     transition: ease-in-out 0.3s;
 }
 
 
 #tileone{
     background-color: #87ffef;
     color: white;
     cursor: default;
     height: 75%;
     margin: 15px;
     max-height: 320px;
     width: 100%;
     padding: 0px;
     font-size: 10em;
     overflow: hidden;
 }
 
 #r1 {
     cursor: default;
     opacity: 0;
     font-size: 2rem;
     position: absolute;
     top: 0px;
     left: 20px;
     transition-delay: 0.2s;
     transition-duration: 0.3s;
 }
 
 #r2 {
     cursor: default;
     opacity: 0;
     font-size: 2rem;
     position: absolute;
     top: 40px;
     left: 20px;
     transition-delay: 0.3s;
     transition-duration: 0.3s;
 }
 
 #r3 {
     cursor: default;
     opacity: 0;
     font-size: 2rem;
     position: absolute;
     top: 80px;
     left: 20px;
     transition-delay: 0.4s;
     transition-duration: 0.3s;
 }
 
 #r4 {
     cursor: default;
     opacity: 0;
     font-size: 2rem;
     position: absolute;
     top: 120px;
     left: 20px;
     transition-delay: .5s;
     transition-duration: 0.3s;
 }
 
 #r5 {
     cursor: default;
     opacity: 0;
     font-size: 2rem;
     position: absolute;
     top: 160px;
     left: 20px;
     transition-delay: .6s;
     transition-duration: 0.3s;
 }
 
 #r6 {
     cursor: default;
     opacity: 0;
     font-size: 2rem;
     position: absolute;
     top: 200px;
     left: 20px;
     transition-delay: .7s;
     transition-duration: 0.3s;
 }
 
 
 #tileone:hover > #RESPONSIVE{
     color: #87ffef;
 }
 
 #tileone:hover > #r1{
     color: black;
     opacity: 1;
 }
 
 #tileone:hover > #r2{
     color: black;
     opacity: 1;
 }
 
 #tileone:hover > #r3{
     color: black;
     opacity: 1;
 }
 
 #tileone:hover > #r4{
     color: black;
     opacity: 1;
 }
 
 #tileone:hover > #r5{
     color: black;
     opacity: 1;
 }
 
 #tileone:hover > #r6{
     color: black;
     opacity: 1;
 } */

#tilethree{
    background-color: #ffef87;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}
#tilefour{
    background-color: #ff8797;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}
#tilefive{
    background-color: #ffb387;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}
#tilesix{
    background-color: #e64c60;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}
#tileseven{
    background-color: #87d3ff;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}
#tileeight{
    background-color: #87ffb3;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}
#tilenine{
    background-color: #87ffef;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}
#tileten{
    background-color: #ffef87;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}
#tileeleven{
    background-color: #ffb387;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}
#tiletwelve{
    background-color: #8797ff;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}
#tilethirteen{
    background-color: #87ffef;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}
#tilefourteen{
    background-color: #8797ff;
    color: white;
    height: 75%;
    margin: 15px;
    width: 100%;
    padding: 0px;
    font-size: 10em;
    overflow: hidden;
}

/* FOOTER   */

footer{
    background-color: black;
  }

  #footerName{
    padding-top: 25px;
    color: pink;
   }

  .copyright{
    text-align: center;
  }

  container{
    text-align: center;
  }
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
   }

#footerlinks1{
    font-size: 50px;
    padding: 20px;
}
#footerlinks2{
    font-size: 50px;
}

   #footerlinks1:hover{
    color: pink;
   }
   #footerlinks2:hover{
    color: #0270AD;
  }
  .colin:hover{
    text-decoration: none;
  }

/* MEDIA QUERIES  */

@media only screen and (max-width: 980px) {
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem 1rem 1rem 0rem;
    }
    .container {
     max-width: 768px;
     padding: 0 20px;
    }
   
    main.container {
     padding-top: 130px;
    }
   
    .main-section {
     max-width: 420px;
    }
   
    .work {
     width: 100%;
    }
   
    .auth-image {
     width: 100%;
     margin-bottom: 20px;
    }
   }
   .contactlinks{
    padding: 10px;
   }
   h2 {
    font-family: 'Nunito';
    font-size: 35px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin: .10rem;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#aboutme {
    font-family: 'Montserrat';
    font-size: 1em;
    padding: 50px 200px 50px 200px;
    margin: 0px 110px 60px 110px;
    color: rgba(0,0,0,.65);
    border: 4px solid;
    background-image: linear-gradient(90deg, #5cfcb95e, #5cfcb9 );
}
   
   @media only screen and (max-width: 768px) {
    nav, .navbar{
        display: none;
        padding: -0.5rem 1rem;
    }
    
    h2 {
        font-family: 'Nunito';
        font-size: 25px;
        text-align: center;
        color: white;
        padding-bottom: 20px;
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        margin: .10rem;
        font-size: 1.75rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    #aboutme {
        font-family: 'Montserrat';
        font-size: 1em;
        padding: 50px 200px 50px 200px;
        margin: 0px 10px 60px 10px;
        color: rgba(0,0,0,.65);
        border: 4px solid;
        background-image: linear-gradient(90deg, #5cfcb95e, #5cfcb9 );
    }
    .main-section,
    .sidebar {
     max-width: 100%;
    }
   
    main {
     overflow: auto;
    }
   
    .work {
     width: 47%;
     margin-bottom: 10px;
    }
   
    .work:nth-child(even) {
     margin-right: 0;
    }
   
    .work:nth-child(odd) {
     float: right;
    }
   
    .auth-image {
     width: 50%;
    }
   
    .sidebar {
     margin-bottom: 40px;
    }
   }
   
   @media only screen and (max-width: 640px) {

nav, .navbar{
    display: none;
    padding: -0.5rem 1rem;
}

    #aboutme{font-family: 'Montserrat';
    font-size: 1.5em;
    padding: 20px 50px 20px 50px;
    margin: 0px 30px 30px 30px;
    color: rgba(0,0,0,.5);
    border: 2px solid;
    background-image: linear-gradient(90deg, #D3CCE3, #E9E4F0 );
    }
    #masthead {
     position: static;
     margin-bottom: 20px;
    }
   
    header .container {
     padding: 0;
    }
   
    main.container {
     padding-top: 0;
    }
   
    .skill-contatiner{
      background-color: #000000;
    }
    #logo,
    .work,
    .auth-image {
     width: 100%;
    }
   
    .btn{
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin: .10rem;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    /* nav {
     width: 100%;
     margin: 15px 0;
     text-align: center;
    }
   
    nav a {
     width: 30%;
     padding-left: 0;
     margin-left: 0;
    } */
   }

   /* .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    display: none;
} */
   
  @media only screen and (min-width: 768px){
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0px 0px 0px 60px;
  }

 
  }

  .projecttiles{
    width: 100%;
    height: auto;
    /* margin: 2px; */
    padding: 0px 10px 10px 10px;
   }

   .navbar-light .navbar-brand {
    color: white;
}


.nav-up {
    top: -100px;
}
/* 
   h1{
    color: white;
    font-family: 'Roboto';
    text-align: left;
   }
   h2{
    font-family: 'Nunito';
    font-size: 32px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
   }
   h3{
    font-family: 'Montserrat';
    color: white;
   }
   h4{
    font-family: 'Oswald';
    color: pink;;
    font-size: 2em;
    padding: 10px;
   }
  h6{
   font-family: 'Roboto';
   color: rgb(100, 98, 99);
  } */

  .card-title {
    margin-bottom: .75rem;
    font-size: 1em;
    position: inherit;
}

.card-text{
    font-family: roboto;
    font-size: .75em;
}

.btn-primary {
    color: #fff;
    background-color: #FC5C7D;
    border-color: #654ea3;
}

.btn-primary:hover {
    color: #fff;
    background-color: #654ea3;
    border-color: #654ea3;
}

.card{
position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 4px solid #6A82FB;
    border-image-source: linear-gradient(150deg, #f995d1, #6A82FB);
    border-image-slice: 20;
    /* border-radius: 0.25rem; */
}


.col-12{
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
    
}

